{
  "presets": [
    ["env", {
      "targets": {
        "ie": 11
      }
    }],
    ["react"]
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
    ["transform-react-display-name"]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-hot-loader/babel"]
      ]
    }
  }
}
