@import 'tachyons/src/tachyons';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}

.f4 {
  font-size: 1.125rem;
}
